# Archivos binarios y temporales de .NET
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuración de VS / Rider
.vscode/
.idea/

# Logs
*.log

# Archivos de compilación y publish
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos temporales de test
TestResults/
*.VisualState.xml
*.pidb
*.svclog
*.scc

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Secretos / variables de entorno
appsettings.Development.json
appsettings.Local.json
*.env

# Otros
_ReSharper.Caches/
